<div class="homepage-container">
<div class="intro">
    <h1>Pokemon Database</h1>
    <p>Welcome! Here you can view all Pokemon and their info, edit their information, and even add new ones to the system.</p>
</div>
<div>
    <img src="http://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Download-Image.png" width="300px">
</div>
</div>