<div class="homepage-container">
<div class="intro">
    <h1>Pokemon Database</h1>
    <p>Welcome! Here you can view all Pokemon and their info, edit their information, and even add new ones to the system.</p>
</div>
<div>
    <%= cl_image_tag("pokeball_dcfstk", width: 350) %>
</div>
</div>