.pagination{
    a {
        margin: 5px;
        padding: 5px;
    }
    em {
        margin: 5px;
        font-weight: bold;
        padding: 5px;
    }
    span {
        margin: 5px;
        padding: 5px;
    }
}