.pokemon-card {
    width: 509px;
    height:700px;
    background-color: #f3d015;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.pokemon-inner-card {
    width: 459px;
    height: 650px;
    background-color: green;
    padding: 25px;

    .header {
        display: flex;
        justify-content: space-between;
    }
}

.pokemon-image {
    height: 40%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
}
.pokemon-image-footer {
    display: flex;
    justify-content: space-between;
}