    <% @pokemon.each do |pokemon|%>
        <div class="card-product">
            <div class="card-product-infos">
                <h2><%= link_to "#{pokemon.name}", pokemon_path(pokemon) %></h2>
                <p>
                    <span><%= pokemon.type_1 %> | </span>
                    <span>
                        <% if pokemon.legendary == "True" %>
                            Legendary
                        <% else %>
                            Basic
                        <% end %>
                    </span>
                </p>
            </div>
        </div>
    <% end %>
</ul>

<%= will_paginate @pokemon %>